<div><%= bar_chart(@collection, @options) %></div>

<figure>
  <figcaption class="ac-chart-title">Pets per Floor:</figcaption>
  <svg class="ac-chart bar-chart" style="width: 430px; height:400px" viewBox="0 0 215 200">
    <rect height=180 width=215 class="grid" />
    
    <text x=52 y=190>Floor 1</text>
    
    <rect height=100 x=10 y=80 class="bar series-a" />
    <text x=30 y=75>1,000,000</text>
    
    <rect height=60 x=55 y=120 class="bar series-b" />
    <text x=75 y=115>600,000</text>
    
    <text x=162 y=190>Floor 2</text>

    <rect height=40 x=120 y=140 class="bar series-a" />
    <text x=140 y=135>400,000</text>
    
    <rect height=60 x=165 y=120 class="bar series-b" />
    <text x=185 y=115>600,000</text>
  </svg>
  
  <ul class="ac-chart series-legend">
    <li class="series-a">Cats</li>
    <li class="series-b">Dogs</li>
  </ul>
</figure>
