<h2>Terms of Interest on News Hompages</h2>
<div class="intro">
  <p>Language matters. Words or phrases that purposefully obscure meaning are rarely as easy to spot as &ldquo;The Ministry of Love&rdquo; in <em>1984</em> or &ldquo;The Ceremony&rdquo; in <em>The Handmaid&rsquo;s Tale</em>, particularly without the distance that fiction supplies.</p>
  <p>Here are two phrases, one with a longer history than the other, which saw an increase in usage in 2016 and 2017.</p>
  <p>This data was obtained by scraping the archived homepages of the sites indicated on the Internet Archive Wayback Machine.</p>
</div>
