<h2>Terms of Interest on News Hompages</h2>
<div class="intro">
  <p>Language matters. Words or phrases that purposefully obscure meaning are rarely as easy to spot as &ldquo;The Ministry of Love&rdquo; in <em>1984</em> or &ldquo;The Ceremony&rdquo; in <em>The Handmaid&rsquo;s Tale</em>, particularly without the distance that fiction supplies.</p>
  <p>Here are two phrases, one with a longer history than the other, which saw a sudden spike in usage in late 2016 and 2017.</p>
  <p>This data was obtained by scraping the archived homepages of the sites indicated on the Internet Archive Wayback Machine.</p>
</div>
<h3>alt-right</h3>
<%= bar_chart_for(*@alt_right['2016'].values) %>
<%= bar_chart_for(*@alt_right['2017'].values) %>

<h3>identity politics</h3>
<%= bar_chart_for(*@identity['2016'].values) %>
<%= bar_chart_for(*@identity['2017'].values) %>

