<h2>Terms of Interest on News Hompages</h2>
<div class="intro">
  <p>Language matters. Words or phrases that purposefully obscure meaning are rarely as easy to spot as &ldquo;The Ministry of Love&rdquo; in <em>1984</em> or &ldquo;The Ceremony&rdquo; in <em>The Handmaid&rsquo;s Tale</em>, particularly without the distance that fiction supplies.</p>
  <p>Here are two phrases, one with a longer history than the other, which saw a sudden spike in usage in late 2016 and 2017.</p>
  <p>This data was obtained by scraping the archived homepages of the sites indicated on the Internet Archive Wayback Machine.</p>
</div>
<section class="ac-clearfix">
  <h3><em>alt-right</em></h3>
  
  <% @alt_right.each do |args| %>
    <%= bar_chart_for(*args.values) %>
  <% end %>
  
  <%= scatter_plot_for(Word.where(word: 'alt-right'), [:start_date, :new_york_times, :washington_post, :wall_street_journal], title: 'Alt-Right Scatter', data_formatters: [:date], width: 1000) %>
</section>

<section class="ac-clearfix">
  <h3><em>identity politics</em></h3>
  <% @identity.each do |args| %>
    <%= bar_chart_for(*args.values) %>
  <% end %>
</section>

