<table>
  <thead>
    <tr>
      <th>
        Datasheets
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
  <% @datasheets.each do |datasheet| %>
    <tr>
      <td>
        <%= link_to datasheet.name, admin_datasheet_path(datasheet) %>
      </td>
      <td>
        <%= link_to 'Delete', admin_datasheet_path(datasheet), method: :delete, data: { confirm: "Are you sure you wish to delete #{datasheet.name}?" } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
